version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    volumes:
      - mongo-data:/data/db
    restart: always

  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - mongo
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "80:80"
    restart: always

volumes:
  mongo-data: