version: '3.9'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - mongo
    restart: always
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "4200:80"

  nginx:
    build: .
    container_name: nginx
    restart: always
    ports:
      - "80:80"

volumes:
  mongo-data: